<html>
	<head>
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/skeleton/normalize.css">
		<link rel="stylesheet" href="../static/skeleton/skeleton.css">
		<link rel="stylesheet" href="../static/css/global.css">
		<link rel="stylesheet" href="../static/css/about.css">
	</head>
	<body>
		<div class="nav-wrapper">
			<div class="five column">
				<ul class="nav-list">
					<li><a href="/blogs">Blog</a></li>
					<li><a href="/portfolio">Projects</a></li>
					<li class="selected">About</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="about-wrapper">
				<img src="../static/images/TechnickAboutArt.jpg" alt="">
				<p>bin/nick is a blog and portfolio built by Nick McCrory. The Skeleton CSS framework is the structure of the frontend however the site is powered by Go. Technick emerges from a long passion for technology and desire to learn about, share, and develop different ideas all based around engineering for the future. I will be discussing fast-growing topics in computing and technology, as well as sharing code tutorials for other aspiring developers.</p>
			</div>
		</div>
	</body>
</html>