<html>
	<head>
		<title>Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body{
				font-family: sans-serif;
				font-weight:200;
			}
			pre{
				background-color: #CBCBCB;
				padding:10px;
			}
			.container{
				margin:0 auto;
				width: 70%;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div>
				<div class="article-wrapper">
					<article>
						<h1>{{.Title}}</h1>
						<h5>{{.Date.Month}} {{.Date.Day}}, {{.Date.Year}}</h5>
						{{.Body}}
					</article>
				</div>
			</div>
		</div>
	</body>
</html>