<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body{
				font-family: sans-serif;
				font-weight:200;
			}
			pre{
				background-color: #CBCBCB;
				padding:10px;
			}
			.container{
				margin:0 auto;
				width: 70%;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="twelve columns">
				<div class="article-list-wrapper">
					<h1>Blogs index</h1>
					<ul>
						{{range $val := .}}
						<li><h3><a href="/blogs/{{$val.Route}}">{{$val.Title}}</a></h3></li>
						{{end}}
					</ul>
				</div>
			</div>		
		</div>
	</body>
</html>