<html>
	<head>
		<title>Projects - Nick McCrory</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/skeleton/normalize.css">
		<link rel="stylesheet" href="../static/skeleton/skeleton.css">
		<link rel="stylesheet" href="../static/css/global.css">
		<link rel="stylesheet" href="../static/css/projects.css">
	</head>
	<body>
		<div class="nav-wrapper">
			<ul class="nav-list">
				<a href="/blogs"><li>Blog</li></a>
				<a href="/portfolio"><li>Projects</li></a>
				<a href="/about"><li>About</li></a>
			</ul>
			<div class="binslashnick">
				<h3 class="brown">bin/nick</h3>
			</div>
		</div>
		<div class="container">
			<h2>Projects</h2>
			<div class="list-wrapper">
				<div class="list">
					<ul>
						<li class="list-item"><a href="">Reddit Clone</a><p>Written in Go using open source projects such as Gorilla toolkit and Goth user authentication.</p></li>
						<li class="list-item"><a href="http://job-viz-dev.elasticbeanstalk.com/#/">Data Visualization of Tech Employment in the United States</a><p>Aggregates developer jobs and visualizes them using D3.</p></li>
						<li class="list-item"><a href="https://arcane-tundra-6196.herokuapp.com/#/">McLaren Auto Site Clone</a><p>Front End mockup made with Materialize CSS and Angular. Runs a NodeJs backend.</p></li>
						<li class="list-item"><a href="https://stark-anchorage-38450.herokuapp.com/">Search for Music Artists with Spotify</a><p>Built on top of Django, search for virtually any artist with results from Spotify.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>