.article-wrapper{
	padding: 70px 0px;
}
.article-wrapper article h1{
	font-size: 32pt;
}
.article-wrapper article img{
	width:100%;
	margin-bottom: 10px;
	max-height:400px;
}

.profile {
	display:block;
	position:relative;
}

.profile-wrapper{
	width:100%;
	text-align: center;
	position:absolute;
	z-index:1;
}
.profile-pic {
	border: 2px solid white;
	border-radius: 40px;
	height:70px;
	width: 70px;
	display:inline-block;
	vertical-align: middle;
	z-index:1;
}

.lines-wrapper{
	position:absolute;
	z-index:0;
	padding: 25px 0px;
	width:100%;
}
.blue-line{
	width:100%;
	height: 5px;
	vertical-align: middle;
	margin:4px 0px;
	background-color: #5FCEEA;
}

.brown-line{
	width:100%;
	vertical-align: middle;
	height: 5px;
	margin: 4px 0px;
	background-color: #A47C52;
}

.contact-wrapper{
	padding:85px 0px 30px 0px;
	text-align: center;
	vertical-align: bottom;
}
.contact-wrapper p {
	margin:0px;
}
.contact-wrapper a {
	color: #5FCEEA;
	text-decoration: none;
}